<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <a href="mailto:<%=@student.email%>"><%=@student.email%></a>
</p>



<h1>Enrolled Course</h1>
<%if @student.courses.empty?%>
<p>N/A</p>
<%else%>
<ul
<%@student.courses.each do |course|%>
<li><%=course.name%></li>
<%end%>
</ul>
<%end%>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
