<!DOCTYPE html>
<html>
  <head>
    <title>Coursetracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Student", students_path%>|
    <%= link_to "Course", courses_path%>|
    <%= link_to "Instructor", instructors_path%>|
    <%= yield %>
  </body>
</html>
